.Present {
  background-color: lightpink;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  padding-top: 1%;
  align-items: center;
}

.Present-First-Row,
.Present-Second-Row,
.Present-Third-Row {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}

.MDC,
.CA,
.US,
.BE,
.TR,
.Design-Research,
.Professional-Skills,
.External,
.Goals,
.PIV {
  background-color: white;
  border-radius: 30px;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  text-align: center;
  text-justify: distribute;
  cursor: pointer;
}
